.converter {
    width: 400px;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.form-row {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    justify-content: flex-start;
}

.result {
    margin-left: -10%;
}

@media only screen and (max-width: 800px) {
    .converter {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    .form-row {
        display: flex;
        flex-direction: row;
    }
    .result {
        margin: 0;
    }
}