body {
    background-color:#25252e;
    font-family: cursive;
}

.home h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}


.container {
    width: 30em;
    margin: 0 auto;
    border-radius: 5px;
    flex-direction: column;
}


.container li {
    margin-top: 10px;
    margin-left: -35px;
    font-size: 1.5em;
    text-align: left;
    list-style: none;
}

@media only screen and (max-width: 500px) {
    .home h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: white;
    }
    .container {
        width: 280px;
        border-radius: 5px;
        flex-direction: column;
    }
    .container li {
        margin-top: 10px;
        font-size: 1.5em;
        text-align: left;
        list-style: none;
    }
}